
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-bg{
  min-height: 100vh;
  display: flex;
  flex: column;
}
.background-banner{
  background-image: url("/public/BG.png");
  background-size: cover;
  height: 80vh;
  width: 100vw;
}
.for-image-align{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bg{
  background-color: rgb(0, 0, 0);
  min-height: 100vh; /* this ensures it covers the full visible page */
  width: 100%;
}
.movie-banner{
  width: 400px;
  height: 400px;
}
.search-box{
  font-size: 15px;
  width: 600px;
  height: 55px;
  padding: 20px;
  margin: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(38, 0, 79);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.align-search{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-text{
  font-size: 60px;
  font-family: 'montserrat';
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.special-effect{
  color: rgb(0, 174, 255);
}
.errormsg{
  color: red;
  text-align: center;
}
.heading{
  color: white;
  font-family: 'montserrat';
  font-size: 35px;
}
.texts{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'helvetica';
}
.movie-list{
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 30px;
}
.card-title{
  color: white;
  font-family: montserrat;
  font-weight: bold;
  font-size: 13px;
}

.text-width{
  font-weight: lighter;
}